.edit-or-delete {
  flex: 0 0 80px;
  height: 33px;
  position: relative;
}

.edit {
  position: absolute;
  z-index: 0;
}

.cancel {
  position: absolute;
  z-index: 0;
  left: 40px;
}

.delete {
  position: absolute;
  z-index: 1;
  left: 40px;
  transition: left .3s, background .3s;

  &-open {
    background: mix(#ff5651, rgb(239, 239, 239), 30%);
    left: 0px;
  }

  &-active {
    background: #ff5651;
  }
}
