.title-input {
  width: calc(100% - 6px);
  font-size: 2em;
  font-weight: bold;
  height: 74.875px;
}

.text-button {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #6495ED;
  }
}
