.boodschappenlijstjes-overview {
  &-new-list {
    margin-bottom: 18px;
  }

  &__text-button {
    text-decoration: underline;
  }
  &__clickable-text {
    cursor: pointer;

    &:hover {
      color: #6495ED;
    }
  }
}
