.centered-title {

}

.boodschappenlijstjes-overview {
  &__text-button {
    text-decoration: underline;
  }
  &__clickable-text {
    cursor: pointer;
    margin-bottom: 18px;

    &:hover {
      color: #6495ED;
    }
  }
}
